@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Cormorant+Garamond:wght@700&family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Cormorant+Garamond:wght@700&family=Montserrat:wght@300&family=Proza+Libre&family=Roboto&display=swap');
.App {
  text-align: center;
}
h1{
  font-family:Cormorant Garamond;
}
p{
  font-family:Proza Libre;
}
button,span{
    font-family:Proza Libre;
}

input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    margin-bottom:2rem;
    transition: border-color 0.3s;
}
input:focus {
  border-color: #007bff;
}
label{
  font-family:Proza Libre
}